body {margin:0 auto;}
a {
    color: #fff;
    text-decoration: none;
}
h1 {
    font-size: 42px;
    color:#000;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h4 {
    font-size: 21px;
    color: #000;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.info-text {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
text-align: justify;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.15px;
color: #757575;
}
.mblock {
    width: 90%;
    height: auto;
    margin: 2% 5%;
}
.btn-line {
    margin-top: 5%;
}
.blue_btn_next {
    width: 69px;
    height: 36px;
    left: 0px;
    top: 0px;
    background: #2C98F0;
    border-radius: 4px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
color: #fff;
line-height: 18px;
text-align: center;
letter-spacing: 0.16px;
display: flex;
align-items: center;
justify-content: center;
float:left;
}
.blue_btn_skip {
    width: 69px;
    height: 36px;
    left: 0px;
    top: 0px;
    background: #2C98F0;
    border-radius: 4px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
color: #fff;
line-height: 18px;
text-align: center;
letter-spacing: 0.16px;
display: flex;
align-items: center;
justify-content: center;
float:left;
margin-left: 90%;
}
/*------*/
@media screen and (max-device-width: 535px) {
    h1 {
        font-size: 100px;
        color:#000;
        font-weight: 500;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    h4 {
        font-size: 36px;
        color: #000;
        font-weight: 600;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }
    .info-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    text-align: justify;
    line-height: 54px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    color: #757575;
    }
    .mblock {
        width: 90%;
        height: auto;
        margin: 2% 5%;
    }
    .btn-line {
        margin-top: 5%;
    }
    .blue_btn_next {
        width: 100px;
        height: 70px;
        left: 0px;
        top: 0px;
        background: #2C98F0;
        border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    color: #fff;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.16px;
    display: flex;
    align-items: center;
    justify-content: center;
    float:left;
    }
    .blue_btn_skip {
        width: 100px;
        height: 70px;
        left: 0px;
        top: 0px;
        background: #2C98F0;
        border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    color: #fff;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.16px;
    display: flex;
    align-items: center;
    justify-content: center;
    float:left;
    margin-left: 77%;
    }
}